/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*font*/
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,577;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,577;1,600;1,700;1,800;1,900&display=swap");
/*pre style*/
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  outline: none !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*custom button*/
.custom-btn a {
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  background: #21b573;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-btn a:hover {
  background: #129a5d;
  color: #fff;
}

/*head section style*/
#head {
  background: #f0fff0;
  background-size: initial;
  background-position: center;
}

#head nav {
  background: #f0fff0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#head nav .logo-size {
  width: 20%;
}

#head nav ul li {
  padding: 0 10px;
}

#head nav ul li a {
  color: #000;
}

#head nav ul .custom-btn a {
  color: #fff;
  padding: 12px 30px;
}

#head .header-content {
  padding-top: 150px;
  padding-bottom: 100px;
}

#head .header-content .content p {
  color: #fd511a;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

#head .header-content .content h1 {
  font-weight: 900;
  font-size: 62px;
  margin: 20px 0;
}

#head .header-content .content h1 .custom-color {
  color: #21b573;
}

#head .scroll {
  padding: .8rem 1rem;
  background: #21b573f2;
}

#head .scroll ul li a {
  color: #fff !important;
}

#head .scroll ul .custom-btn a {
  background: #f0fff0 !important;
  color: #000000b8 !important;
}

/*learn section css*/
#learn {
  margin: 45px 0;
}

#learn .card-custom {
  cursor: pointer;
}

#learn .card-custom .card {
  background: #f8fffb;
  border: none;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 275px;
}

#learn .card-custom img {
  padding-top: 40px;
  width: 30%;
  margin: 0 auto;
}

#learn .card-custom h5 {
  padding: 20px 0 0;
  font-size: 25px;
  font-weight: 700;
  color: #413960;
}

#learn .card-custom p {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 30px;
  color: #585859;
}

#learn .card-custom:hover .card {
  background: white;
  -webkit-box-shadow: 0 0 13px #00000014;
  box-shadow: 0 0 13px #00000014;
  -webkit-transform: translate(0, -8px);
  transform: translate(0, -8px);
}

/*course section css*/
#course h2 {
  padding: 65px 0 35px;
  font-size: 40px;
  font-weight: 900;
  color: #413960;
  text-align: center;
}

#course .content {
  -webkit-box-shadow: 0 0 13px #00000014;
  box-shadow: 0 0 13px #00000014;
  padding: 40px 25px 20px;
  border-radius: 10px;
}

#course .content .title h3 {
  padding: 25px 0 5px;
  font-size: 25px;
  font-weight: 700;
  color: #413960;
}

#course .content .title p {
  color: #585859;
  font-weight: 500;
  font-size: 18px;
}

#course .content .date-seat img {
  width: 15%;
  margin-right: 5px;
}

#course .content .date-seat p {
  margin: 0;
  padding: 0;
}

/*testimonial section css*/
#testimonial {
  background: url(../img/Photos/testimonials.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

#testimonial h2 {
  padding-top: 45px;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

#testimonial .carousel-inner {
  width: 50%;
  margin: 0 auto;
  padding: 30px 0 100px;
}

#testimonial .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#testimonial .carousel-indicators li {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
  position: relative;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#testimonial .carousel-indicators li img {
  width: 100%;
  position: absolute;
  height: 100%;
  right: 0;
  border-radius: 50%;
}

#testimonial .carousel-indicators .active {
  width: 50px;
  height: 50px;
  opacity: 1;
  border: 2px solid #00d877;
}

#testimonial .content {
  text-align: center;
}

#testimonial .content img {
  width: 115px;
  margin-bottom: 20px;
  border-radius: 50%;
  height: 115px;
}

#testimonial .content p {
  color: #fff;
}

/*contact form section style*/
#contact .contact-form {
  margin-top: 74px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 0 13px #00000014;
  box-shadow: 0 0 13px #00000014;
}

#contact input:focus {
  outline: none !important;
}

#contact .contact-image {
  text-align: center;
  background: #21af70;
  width: 70px;
  margin: 0 auto;
  height: 70px;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: -36px;
  border: 4px solid #71eab5;
}

#contact .form-control {
  height: 45px;
}

#contact .contact-image img {
  width: 65%;
}

#contact .contact-form form {
  padding: 0px 120px 35px;
}

#contact .form-control:focus {
  border-color: #21af70;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact .contact-form h3 {
  font-size: 40px;
  font-weight: 900;
  color: #413960;
  text-align: center;
  padding-bottom: 30px;
}

#contact .contact-form .btnContact {
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  background: #21b573;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  transition: all 0.3s ease;
}

#contact .contact-form .btnContact:hover {
  background: #129a5d;
}

/*footer area*/
#footer .footer_area {
  background: #fbfbfd;
}

#footer input.form-control:focus {
  border-color: #21af70;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#footer .title {
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 15px;
}

#footer .footer_top {
  padding: 30px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

#footer .footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}

#footer .footer_top .company_widget .subscribe .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

#footer .btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

#footer .btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#footer a:hover,
#footer a:focus,
#footer .btn:hover,
#footer .btn:focus,
#footer button:hover,
#footer button:focus {
  text-decoration: none;
  outline: none;
}

#footer .footer_top .f_widget.about-widget .f_list li a:hover {
  color: #2cb97a;
}

#footer .footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

#footer .f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

#footer .f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

#footer .f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

#footer .footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

#footer .f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#footer .ti-facebook:before {
  content: "\e741";
}

#footer .ti-twitter-alt:before {
  content: "\e74b";
}

#footer .ti-vimeo-alt:before {
  content: "\e74a";
}

#footer .ti-pinterest:before {
  content: "\e731";
}

#footer .custom-button .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #21b573;
  color: #fff;
  border: 1px solid transparent;
}

#footer .custom-button .btn:hover {
  background: transparent;
  border-color: #21b573;
  color: #21b573;
}

#footer .footer_top .f_social_icon a + a {
  margin-left: 4px;
}

#footer .footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}

#footer .footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

#footer .footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("../img//Photos/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

#footer .footer_top .footer_bg .footer_bg_one {
  background: url("../img//Photos/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

#footer .footer_top .footer_bg .footer_bg_two {
  background: url("../img//Photos/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*========responsive===================*/
@media only screen and (max-width: 768px) {
  #head nav .logo-size {
    width: 45%;
  }
  #head .content {
    text-align: center;
    padding-bottom: 50px;
  }
  #head .content h1 {
    font-size: 45px !important;
  }
  #learn .card-custom .card {
    height: 100%;
  }
  #testimonial .carousel-inner {
    width: 75%;
    margin: 0 auto;
    padding: 12px 0 135px;
  }
  #contact .contact-form .btnContact {
    width: 85%;
  }
  #contact .contact-form h3 {
    font-size: 25px;
  }
  #footer .f_widget {
    padding-bottom: 30px;
  }
  #footer .col-sm-6 {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  nav ul {
    text-align: center;
    padding-top: 15px;
  }
  nav ul li {
    padding: 3px 0;
  }
  nav ul .custom-btn a {
    padding: 12px 30px !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
  nav .navbar-toggler {
    border-color: #9da99d !important;
  }
  nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .scroll ul {
    text-align: center;
    padding-top: 15px;
  }
  .scroll ul li {
    padding: 3px 0;
  }
  .scroll ul li a {
    color: #fff !important;
  }
  .scroll ul .custom-btn a {
    background: #f0fff0 !important;
    color: #000000b8 !important;
    padding: 12px 30px !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
  .scroll .navbar-toggler {
    border-color: honeydew !important;
  }
  .scroll .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  #learn .card-custom {
    padding-bottom: 35px;
  }
  #contact .contact-form form {
    padding: 0px 20px 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #head .header-content .content h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #head .header-content .content h1 {
    font-size: 55px;
  }
  #contact .contact-form form {
    padding: 0px 20px 30px;
  }
}
/*# sourceMappingURL=style.css.map */